DATABASE_URL=postgresql://user:password@host/db_name
FUSEKI_ENDPOINT_URL=http://localhost:3030/my_dataset/query


SECRET_KEY=TU_SECRET_KEY_MUY_LARGA_Y_DIFICIL_AQUI
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
GROQ_API_KEY=TU_API_KEY_AQUI
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=SERVICE_ROL_SECRET
SUPABASE_BUCKET=SUPABASE_BUCKET_NAME
