DATABASE_URL=postgresql://user:password@host/db_name
FUSEKI_ENDPOINT_URL=http://localhost:3030/my_dataset/query


SECRET_KEY=TU_SECRET_KEY_MUY_LARGA_Y_DIFICIL_AQUI
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
